.btn {
     box-shadow: none;
     border-radius: 10px;
     padding: 10px;
     display: inline-block;
     margin: 0 2%;
     font-size: 18px;
     width: 70%;
}

.btn:hover{
	 box-shadow: 0 0 15px 0 #35891D;
	 color: #fff;
}
.btn-alt {
     color: #35891D;
     background-color: #fff;
}

.btn-alt:hover{
	 background-color: #35891D;
}

.title{
	text-align: center;
    font-size: 24px;
    margin: 30px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-group{
	margin-bottom: 20px;
}

.form-group label{
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

input.form-control{
    border-color: #35891D;
    font-size: 18px;
    color: #272727;
}

input.form-control:focus{
    border-color: #35891D;
    box-shadow: 0 0 0 0.2rem #35891D;
}

.action-buttons-wrapper{
    margin: 30px 0;
    text-align: center;
    display: flex;
}

.action-buttons-wrapper .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

/*Sign Up Css*/
.gender-label{
	font-weight: normal;
	font-size: 18px;
    margin-right: 15px;
}

.gender-section input[type=radio]{
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}


/* Desktop styles */
@media only screen and (min-width: 767px) {
    .btn{
        font-size: 16px;
    }
}