{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse-recipes.css') }}" />
</head>
<div class="container">

    <div class="title">BROWSE MEALS</div>
    <section id="recipe" class="food-flex-container">
        <div class="food-images-flex-container">
            <div class="food-flex-image">
                 <img src="{{ url_for('static', filename='images/food/Avocado Salad.jpg') }}" alt="Avocado Salad" class="food-image-size">
                 <p><strong>Avocado Salad</strong></p>
                 <span class="meal-cal">Calories 111</span>
                 <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Blueberry Banana Pancake.jpg') }}" alt="Blueberry Banana Pancake" class="food-image-size">
                <p><strong>Blueberry Banana Pancake</strong></p>
                <span class="meal-cal">Calories 300</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/BBQ Steak.jpg') }}" alt="BBQ Steak" class="food-image-size">
                <p><strong>BBQ Steak</strong></p>
                <span class="meal-cal">Calories 400 </span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
        </div>
        </section>
        <section id="recipe" class="food-flex-container">
         <div class="food-images-flex-container">
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Olive salad.jpg') }}" alt="Olive Salad" class="food-image-size">
                <p><strong>Olive Salad</strong></p>
                <span class="meal-cal">Calories 150</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/macaroons.jpg') }}" alt="Macaroons" class="food-image-size">
                <p><strong>Macaroons</strong></p>
                <span class="meal-cal">Calories 300</span>
               <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
               <img src="{{ url_for('static', filename='images/food/Noodles.jpg') }}" alt="Noodles" class="food-image-size">
                <p><strong>Chinese Noodles</strong></p>
                <span class="meal-cal">Calories 250</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
        </div>
    </section>
    
    <section id="recipe" class="food-flex-container">
         <div class="food-images-flex-container">
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Buttery corn.jpg') }}" alt="Buttery corn" class="food-image-size">
                <p><strong>Buttery Corn</strong></p>
                <span class="meal-cal">Calories 175</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Chicken balls.jpg') }}" alt="Chicken balls" class="food-image-size">
                <p><strong>Chicken Balls</strong></p>
                <span class="meal-cal">Calories 250</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/French fries salad.jpg') }}" alt="French fries salad" class="food-image-size">
                <p><strong>French Fries Salad</strong></p>
                <span class="meal-cal">Calories 200</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
        </div>
    </section>
    
    <section id="recipe" class="food-flex-container">
         <div class="food-images-flex-container">
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Green salad.jpg') }}" alt="Green Salad" class="food-image-size">
                <p><strong>Green Salad</strong></p>
                <span class="meal-cal">Calories 115</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Orange Blueberry pancake.jpg') }}" alt="Orange Blueberry pancake" class="food-image-size">
                <p><strong>Orange Blueberry Pancake</strong></p>
                <span class="meal-cal">Calories 325</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
            <div class="food-flex-image">
                <img src="{{ url_for('static', filename='images/food/Strawberry Pudding.jpg') }}" alt="Strawberry Pudding" class="food-image-size">
                <p><strong>Strawberry Pudding</strong></p>
                <span class="meal-cal">Calories 350</span>
                <!-- <button class="button-view-recipe">View Recipe</button> -->
            </div>
        </div>
    </section>

</div>
{% endblock %}