{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create-mealplan.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
</head>
<div class="container">

    <div class="title">CREATE MEAL PLAN</div>

    <!-- Meal Plan Header-->
    <div class="row">
        <!--Mealplan Name--->
        <div class="form-group col-md-4 col-xs-5" >
                    <label class="mealheaderlabel control-label" for="mealplan-name">Mealplan Name</label>
                    <input type="text" placeholder="Click to Type or Select a Mealplan" list ="mealplannames"  style="cursor:pointer" oninput="onInputMealplanName()" title = "Click to Select or Enter a Mealplan Name" class="form-control" id="mealplan-name">
                    <datalist id="mealplannames" class="dropdown1">
                        {% for mname in mealplannames %}
                        <option value="{{mname.mealplan_name}}">{{mname.week_date}}</option>
                        {% endfor %}
                    </datalist>
        </div>
         <!--Mealplan Week--->
        <div class="form-group  col-md-4 col-xs-4" id="week-picker-wrapper">
                    <label class="mealheaderlabel control-label" for="week">Select Week</label>
                    <input id="weeklyDatePicker" 
                    style="cursor:pointer" type="text" class="form-control week-picker" 
                    placeholder="Click to Select a Week"
                    title="Click to Select a Week">
        </div>
    
    <!--Save and Clear Mealplan buttons --->
        <div class="col-md-4 col-xs-3 col-right mealactionbtn-wrapper">
                <div class="form-group mealactionbtn">
                        <button onclick="javascript:save_mealplan()" title="Save Meal Plan" class="savebutton"><i class="fa fa-save"> </i></button>
                        <button onclick="javascript:delete_mealplan()" title="Delete Meal Plan" class="savebutton trashbutton"><i class="fa fa-trash-alt"> </i></button>
                </div>
                
        </div>
    </div>

    <!-- Meal Plan Body-->
    <div class="mealplan-section row">
        <table id="mealplan" class="mealplan-table">
            <thead>
                <tr class="row">
                    <th class="mealheader-td"></th>
                    <th class="mealheader-td"> <span>Breakfast</span></th>
                    <th class="mealheader-td"> <span>Lunch</span></th>
                    <th class="mealheader-td"> <span>Dinner</span></th>
                </tr>
            </thead>
            {% for dayitem in mealplans: %}
            {% for day,mealplan in dayitem.items(): %}
            <tr class="mealplan-row row">
                <td class="weekday-td">{{ day }}</td>
                {% for meal in mealplan: %}
                <td class="meal-td">
                    <div class="mealplan-cell">
                        <img id='{{day}}{{meal.mealtype}}meal'
                            src="{{ url_for('static', filename='images/food/') }}{{meal.meal_id}}.jpg" alt="{{meal.meal_id}}" />
                        <span id='{{day}}{{meal.mealtype}}mealtext' class="meal-text">{{meal.meal_name}}</span>
                        <span id='{{day}}{{meal.mealtype}}mealcal' class="meal-cal">Calories {{meal.meal_cal}}</span>
                    </div>
                    <!-- <div style="display:inline-block"> -->
                        <button type="button" class="addbutton" data-toggle="modal" data-target="#chooseMealModal"><i
                            class="fa fa-plus"> </i></button>
                        <!-- <button type="button" style="display: none;"  class="clearbutton trashbutton" data-toggle="modal" data-target="#chooseMealModal"><i class="fa fa-trash-alt"> </i>
                        </button> -->
                    <!-- </div> -->
                   
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>

 <!-- Meal Plan Footer-->
 <!-- <div class="row mealplan-footer">
    <button type="button" class="button btn btn-alt">PRINT</button>
    <button type="button" class="button btn">EMAIL</button>
</div> -->

</div>

<!--Modal Section-->
<div class="modal fade" id="chooseMealModal" tabindex="-1" role="dialog" aria-labelledby="chooseMealModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <h5 class="modal-title" id="chooseMealModalLabel">Choose Your Meal</h5>
          
        </div>
        <div class="modal-body mealplan-modalbody">
          <div class="row">
            <div class="col-xs-12">
                <span class="modal-text">Click on an image to select a meal</span>
            </div>
              <div class="col-xs-12">
                <ul>
                    {% for mealname in mealnames %}
                        <div class="col-md-4 col-xs-6 modal-mealbody">
                        <li>
                            <input type="checkbox" id="cb{{mealname.meal_id}}" name='img-checkbox' />
                            <label for="cb{{mealname.meal_id}}">
                                <img src="{{ url_for('static', filename='images/food/') }}{{ mealname.meal_id}}.jpg" alt="{{mealname.meal_id}}" />
                                <div><span>{{mealname.meal_name}}</span></div>
                                <div class="meal-cal"><span>Calories {{mealname.cal_count}}</span></div>
                            </label>
                        </li>
                        </div>
                    {% endfor %}
                </ul>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button btn btn-alt" data-dismiss="modal">Close</button>
          <button id='savemeal' type="button" class="button btn">Save changes</button>
        </div>
      </div>
    </div>
</div>

<script>

    //Get the clciked active elemetn
    var isaddclick;
    var nextclick;
    $("#chooseMealModal").on('show.bs.modal', function (e) {
        isaddclick = document.activeElement.previousElementSibling;
    })

    //To disable multi-select
    $('input[type="checkbox"]').on('change', function () {
        $('input[type="checkbox"]').not(this).prop('checked', false);
    });

    //On saving Meal changes
    $("#savemeal").click(function () {
        var mealImgName;
        var mealName;
        var mealCal;
        $('input:checkbox[name=img-checkbox]:checked').each(function () {
            mealImgName = $(this).nextAll()[0].children[0].src
            mealImageId = $(this).nextAll()[0].children[0].alt
            mealName = $(this).nextAll()[0].children[1].textContent
            mealCal = $(this).nextAll()[0].children[2].textContent
        });
        var mealimg_id = isaddclick.childNodes[1].id;
        var mealtext_id = isaddclick.childNodes[3].id;
        var mealcal_id = isaddclick.childNodes[5].id;
        $("#" + mealimg_id).attr("src", mealImgName);
        $("#" + mealimg_id).attr("alt", mealImageId);
        $("#" + mealtext_id).text(mealName);
        $("#" + mealcal_id).text(mealCal);

        $('input[type="checkbox"]').not(this).prop('checked', false);
        $("#chooseMealModal").modal('hide')

    });

    function createMealplanObj(){
        mealplan_name = $("#mealplan-name").val()
        mealplan_week = $("#weeklyDatePicker").val()
        mealplan_table = $("#mealplan")
        var mealplanObj = {}
        mealplan_table.find('tr.mealplan-row').each(function (i, el) {
        var $tds = $(this).find('td.meal-td > div.mealplan-cell')
        dayname = $(this).find('td.weekday-td').text()
        calories = 0
        mealplanObj[dayname] = {}
        //For Breakfast
        meal_type = 'b'
        meal_id = $tds.eq(0).find('img')[0].alt
        cal = $tds.eq(0).find('span.meal-cal')[0].textContent.split(" ")[1]
        calories = calories + parseInt(cal)
        mealplanObj[dayname][meal_type] = {"meal_id": meal_id, "cal": cal }
        //For Lunch
        meal_type = 'l'
        meal_id = $tds.eq(1).find('img')[0].alt
        cal = $tds.eq(1).find('span.meal-cal')[0].textContent.split(" ")[1]
        calories = calories + parseInt(cal)
        mealplanObj[dayname][meal_type] = {"meal_id": meal_id, "cal": cal } 
        //For Dinner
        meal_type = 'd'
        meal_id = $tds.eq(2).find('img')[0].alt
        cal = $tds.eq(2).find('span.meal-cal')[0].textContent.split(" ")[1]
        calories = calories + parseInt(cal)
        //Push the mealplans into object
        mealplanObj[dayname][meal_type] = {"meal_id": meal_id, "cal": cal }
        mealplanObj[dayname]['totalcal'] = calories
        })
        return mealplanObj;
    }
    function save_mealplan() {
        if ($("#mealplan-name").val() == "") {
            alert("Please enter a Meal Plan Name!!")
            return False
        }

        mealplan_name = $("#mealplan-name").val()
        mealplan_week = $("#weeklyDatePicker").val()
        mealplanObj = createMealplanObj()
      
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/create-mealplan",
            data: JSON.stringify({'mealplanobj': mealplanObj,'mealplanName':mealplan_name,'mealplanWeek':mealplan_week,
            'option':'create_mealplan'}),
            success: function (data) {
                //alert(data['status'])
                if(data['Response']==1){
                    setTimeout(window.location.reload(false),2000); 
                }
            },
            dataType: "json",
            error:function(header,status){
                alert(status)
            }
        });

    }

//Delete The Meal Plan
    function delete_mealplan() {
        if ($("#mealplan-name").val() == "") {
            alert("Please enter the Meal Plan to be deleted!!")
            return False
        }
        
        mealplan_name = $("#mealplan-name").val()
        mealplan_week = $("#weeklyDatePicker").val()
      
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/create-mealplan",
            data: JSON.stringify({'mealplanName':mealplan_name,'mealplanWeek':mealplan_week,'option':'delete_mealplan'}),
            success: function (data) {
                //alert(data['status'])
                if(data['Response']==1){
                    setTimeout(window.location.reload(false),2000); 
                }
            },
            dataType: "json",
            error:function(header,status){
                alert("Mealplan not Found!!")
            }
        });

    }

    //On Selecting an Existing Mealplan Name
    function onInputMealplanName() {
        var val = document.getElementById("mealplan-name").value;
        var opts = document.getElementById('mealplannames').childNodes;
        for (var i = 0; i < opts.length; i++) {
            if (opts[i].value === val) {
                mealplan_week = opts[i].textContent
                $("#weeklyDatePicker").val(mealplan_week)
                mealplanObj = createMealplanObj()
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/create-mealplan",
                    data: JSON.stringify({'mealplanobj': mealplanObj,
                    'mealplanName':mealplan_name,'mealplanWeek':mealplan_week,
                    'option':'view_mealplan'}),
                    success: function (data) {
                        //alert(data['status'])
                        viewMealplans(data['Response'])
                        console.log(data['Response'])
                    },
                    dataType: "json",
                    error:function(header,status){
                        alert(status)
                    }
                });
                break;
            }
        }
    }

    //View Mealplans
    function viewMealplans(mealplans){
        for(var i =0;i<mealplans.length;i++){
            meal_type = mealplans[i][3]
            if (meal_type == 'b'){
                meal_type = 'bf'
            }else if(meal_type == 'l'){
                meal_type = 'lun'
            }else{
                meal_type = 'din'
            }
            img = mealplans[i][0]
            meal_name = mealplans[i][1]
            if(meal_name == "default"){
                meal_name = ""
            }
            meal_cal = mealplans[i][2]
            day = mealplans[i][4]
            console.log("#"+day+meal_type+"meal")
            $("#"+day+meal_type+"meal").attr("src", "{{ url_for('static', filename='images/food/') }}"+img+".jpg");
            $("#"+day+meal_type+"meal").attr("alt", img);
            $("#"+day+meal_type+"mealtext").text(meal_name)
            $("#"+day+meal_type+"mealcal").text("Calories "+meal_cal)
        }
    }

 
    //For Weekly Date Picker
    var weekpicker, start_date, end_date;
    function set_week_picker(date) {
        start_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
        end_date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
        weekpicker.datepicker('update', start_date);
        weekpicker.val((start_date.getMonth() + 1) + '/' + start_date.getDate() + '/' + start_date.getFullYear() + ' - ' + (end_date.getMonth() + 1) + '/' + end_date.getDate() + '/' + end_date.getFullYear());
    }
    $(document).ready(function () {
        weekpicker = $('.week-picker');
        weekpicker.datepicker({
            autoclose: true,
            forceParse: false,
            container: '#week-picker-wrapper',
        }).on("changeDate", function (e) {
            set_week_picker(e.date);
        });
        $('.week-prev').on('click', function () {
            var prev = new Date(start_date.getTime());
            prev.setDate(prev.getDate() - 1);
            set_week_picker(prev);
        });
        $('.week-next').on('click', function () {
            var next = new Date(end_date.getTime());
            next.setDate(next.getDate() + 1);
            set_week_picker(next);
        });
        set_week_picker(new Date);
    });
</script>

{% endblock %}